.search-bar-div {
    display: flex;
    direction: row;
    justify-self: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

#search-bar {
    display: flex;
    width: 90%;
    height: 2rem;
    border-radius: 4rem;
    border: 0.12rem solid var(--text-muted);
    background-color: #ffff;
}

#search-bar:hover {
    transition: 0.1s ease-in-out;
    border: 0.12rem solid black;
}

#search-bar::placeholder {
    text-align: center;
    font-size: 1.25rem;
}

#search-bar::content {
    text-align: center;
    font-size: 1.25rem;
}

#search-button {
    display: flex;
    visibility: hidden;
}